<nav class=" header col-12 navbar navbar-light bg-light">
    <a class="navbar" href="/">
    <img src="/images/train.png" width="40" height="40" class="logo" alt="">
   Ticetac
    </a>
    <a class="navbar col-1 ml-auto" href="/">
     Connection
      </a>
      <a class="navbar col-1" href="/myLastTrips">
       MyLastTrips
         </a>
</nav>
